*{
    margin: 0;
    padding: 0;
}
#add-details-div{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    display: block;
    border: 1px solid gray;
    /* padding-left: 20px; */
    padding: 30px;
    border-radius: 20px;
}
#add-details-div form input{
    margin-top: 10px;
    padding: 8px 4rem;
    border: 0.5px solid gray;
    border-radius: 5px;
    font-size: 20px;
}
#add-details-div form input[type="submit"]{
    /* background-color: rgb(0,115,195); */
    background-color: #a03141;
    color: whitesmoke;
}
#add-details-div form input[type="submit"]:hover{
    /* background-color: rgb(0, 149, 255); */
    background-color: #c12c43;

}
/* .styler-cild-div{
    background-color: #a5caca;
}
.styler-cild-div img{
    width: 100px;
    height: 100px;
} */
#sreach-child-div{
    width: 50%;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border:  1px solid black;
}
#search{
    padding: 5px 38%;
}
#styler{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 20px;
    margin-bottom: 100px;
}
.user-div{
    padding: 20px;
    /* background: rgb(182,21,117,0.7); */
    background: #a5caca;
    height: 250px;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    color: whitesmoke;
}
.user-div div:nth-child(1){
    width: 20%;
    /* background: url("../Image/male-avatar-icon-flat.jpg"); */
    height: 100%;
}
.user-div div:nth-child(2){
    margin-left: 20px ;
    width: 70%;

}
.user-div div:nth-child(1) img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.point{
    color: #1d1b26;
}
.edit-btn{
    margin-top: 1rem;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 60px;
    background: #00a298;
    font-weight: 500;
}
.clock-btn{
    /* position: relative;
    right: 0; */
    margin-top: 1rem;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 60px;
    background: #B33A3A;
    font-weight: 500;
}
.clock-btn:hover{
    background: #B71C1C;
}
@media only screen and (max-width:1459px){
    .user-div div:nth-child(2){
    margin-left: 20px ;

        width: 80%;
    }
}
@media only screen and (max-width:1035px){
    #styler{
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px 20px;
    }

}
@media only screen and (max-width:600px){
.user-div{
    height: auto;
    display: block;

}
.user-div div:nth-child(1){
    margin: auto;
    width: 40%;
    height: 200px;
}
.user-div div:nth-child(2){
    margin: auto;
    text-align: center;
}
}