*
{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    font-family: 'Nunito Sans', sans-serif;
}

.choose-section
{
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.choose-section div
{
    width: 30%;
    margin: auto;
    font-size: 25px;
    padding: 7px;
    margin-top: 120px
}